*.bak
/src/CEF4Delphi/packages/backup
/src/CEF4Delphi/packages/lib
/src/packed
/src/backup
/src/lib
*.exe
/src/chm/lib
/src/chm/img
/src/DCPcrypt/lib
*.pak
*.dll
src/cef_sandbox.lib
src/icudtl.dat
src/v8_context_snapshot.bin
src/vk_swiftshader_icd.json
src/libcef.lib
